<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" th:href="@{/assets/icone.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>BiritaShop</title>
</head>

<body>
    <div th:replace="fragments/barraNavegacao :: barraNavegacao"></div>

    <div class="container my-5 pt-4">
        <form th:action="@{/pedido/adicionar}" method="POST" th:object="${pedidoDTO}"
            onsubmit="return verificarCheckBox()">

            <div class="row col-sm-6">
                <div class="input-group mb-2">
                    <label class="input-group-text" for="select">
                        <i class="bi bi-person"></i>
                        Cliente
                    </label>
                    <select class="form-select" id="select" name="cliente">
                        <option th:each="cliente : ${clientes}" th:value="${cliente.id}"
                            th:text="${cliente.nomeCompleto}">
                        </option>
                    </select>
                </div>
            </div>

            <h2 class="border-bottom">Produtos</h2>

            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">
                            <input class="form-check-input" type="checkbox" id="master-checkbox"
                                onclick="checkAll(this)">
                        </th>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Volume</th>
                        <th scope="col">Tipo Embalagem</th>
                        <th scope="col">Preço R$</th>
                        <th scope="col">Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="produto, iStat: ${produtos}">
                        <td>
                            <input class="form-check-input child-checkbox" type="checkbox" id="selecionado"
                                th:field="*{itens[__${iStat.index}__].id}" th:value="${produto.id}">
                        </td>
                        <th scope="row" th:text="${produto.id}"></th>
                        <td th:text="${produto.nome}"></td>
                        <td th:text="${produto.marca}"></td>
                        <td th:text="${produto.volume}"></td>
                        <td th:text="${produto.tipoEmbalagem}"></td>
                        <td th:text="${produto.precoVenda}"></td>
                        <td>
                            <input class="form-control input-unit" type="number"
                                th:field="*{itens[__${iStat.index}__].quantidade}" value="1" min="1">
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="col-sm-6">
                <div class="input-group mb-2">
                    <label class="input-group-text" for="formaPagamento">
                        <i class="bi bi-cash-coin"></i>
                        Forma de Pagamento
                    </label>
                    <select class="form-select" id="formaPagamento" name="formaPagamento" required>
                        <option th:each="formaPagamento : ${formasPagamento}" th:value="${formaPagamento}"
                            th:text="${formaPagamento.tipo}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="row g-1">
                <button class="btn btn-outline-success" type="submit">
                    <i class="bi bi-plus-square"></i>
                    Proximo
                </button>
                <button class="btn btn-outline-secondary" type="reset">
                    <i class="bi bi-x-square"></i>
                    Limpar Campos
                </button>
            </div>
        </form>
    </div>

    <div th:replace="fragments/barraInformacao :: barraInformacao"></div>

    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/js/checkbox.js"></script>
    <script type="text/javascript" src="/js/input.js"></script>
</body>

</html>