<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" th:href="@{/assets/icone.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>BiritaShop</title>
</head>

<body onload="selectAllCheckboxs()">
    <div th:replace="fragments/barraNavegacao :: barraNavegacao"></div>

    <div class="container-fluid my-5 pt-4">
        <form class="needs-validation" th:action="@{/pedido/editar/{id}(id = ${pedidoDTO.id})}" method="POST"
            th:object="${pedidoDTO}" novalidate>
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="input-group">
                        <label class="input-group-text" for="search">
                            <i class="bi bi-person"></i>
                            Cliente
                        </label>
                        <select class="form-select form-select-lg" id="cliente" name="cliente" required>
                            <option th:value="${pedidoDTO.cliente.id}" th:text="${pedidoDTO.cliente.nomeCompleto}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <h2 class="border-bottom">Produtos</h2>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">
                            <input class="form-check-input checkbox" type="checkbox" id="master-checkbox"
                                onclick="checkAll(this)">
                        </th>
                        <th scope="col">ID</th>
                        <th scope="col">Imagem</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Valor Unitário R$</th>
                        <th scope="col">Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item, iStat : ${itensPedido}">
                        <td>
                            <div class="form-check">
                                <input class="form-check-input checkbox child-checkbox" type="checkbox"
                                    th:value="${item.id}" th:field="*{itens[__${iStat.index}__].id}">
                            </div>
                        </td>
                        <th scope="row" th:text="${item.produto.id}"></th>
                        <td>
                            <img th:id="'Produto' + ${item.produto.id}"
                                th:src="@{${item.produto.getFoto} ? ('data:image/jpeg;base64,' + ${item.produto.getFotoBase64()}) : @{/image/imagem.png}}"
                                th:alt="'Foto de' + ${item.produto.nome}" width="30" height="30">
                        </td>
                        <td th:text="${item.produto.nome}"></td>
                        <td th:text="${item.valorUnitario}"></td>
                        <td>
                            <input class="form-control input-unidades" type="number"
                                th:field="*{itens[__${iStat.index}__].quantidade}" value="1" min="1"
                                aria-label="Quantidade de Produtos">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-end" colspan="5"><strong>QUANTIDADE DE ITENS:</strong></td>
                        <td th:text="${itensPedido.size}"></td>
                    </tr>
                </tbody>
            </table>

            <div class="row justify-content-md-end">
                <div class="col col-lg-6">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="formaPagamento">Forma de Pagamento</label>
                        <select class="form-select" id="formasPagamento" name="formaPagamento" required>
                            <option th:text="${pedidoDTO.formaPagamento.valor}" th:value="${pedidoDTO.formaPagamento}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div th:if="${pedidoDTO.formaPagamento.valor == 'Crédito'}" class="row justify-content-md-end">
                <div class="col col-lg-6">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="numeroCartao">Número Cartão</label>
                        <input class="form-control mask-cartao" type="text" id="numeroCartao" name="numeroCartao"
                            required>
                    </div>
                </div>
            </div>

            <div class="row justify-content-md-end">
                <div class="col col-lg-6">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="valorPagamento">R$</label>
                        <input class="form-control mask-valor" type="text" id="valorPagamento" name="valorPagamento"
                            th:field="*{valorPagamento}" required>
                    </div>
                </div>
            </div>

            <div class="row g-2">
                <button class="btn btn-warning text-white" type="submit">
                    <i class="bi bi-pencil-square"></i>
                    Editar
                </button>
            </div>
        </form>
    </div>

    <div th:replace="fragments/barraInformacao :: barraInformacao"></div>

    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/js/masks.js"></script>
    <script type="text/javascript" src="/js/checkbox.js"></script>
    <script type="text/javascript" src="/js/input.js"></script>
    <script type="text/javascript" src="/js/validation.js"></script>
    <script type="text/javascript" src="/js/activePage.js"></script>
</body>

</html>