<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" th:href="@{/assets/icone.ico}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons.css}" />
  <title>BiritaShop</title>
</head>

<body>
  <div th:replace="fragments/barraNavegacao :: barraNavegacao"></div>

  <div class="container mt-2">
    <form th:action="@{/pedido/finalizar}" method="POST" th:object="${pedido}">
      <div class="row col-sm-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-person"></i>
            Cliente
          </span>
          <select class="form-select" required disabled>
            <option th:text="${pedido.cliente.nomeCompleto}">
            </option>
          </select>
        </div>
      </div>
      <h1>Produtos</h1>
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th class="scope">ID</th>
            <th class="scope">Nome</th>
            <th class="scope">Quantidade</th>
            <th class="scope">Valor Unitario</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item : ${pedido.itens}">
            <th class="scope" th:text=${item.id}></th>
            <td th:text=${item.nome}></td>
            <td th:text=${item.quantidade}></td>
            <td th:text=${item.valorUnitario}></td>
          </tr>
        </tbody>
      </table>

      <div class="input-group mb-1 col-sm-6">
        <span class="input-group-text" id="basic-addon1">Quantidade Itens</span>
        <input type="text" class="form-control" th:value="${pedido.itens.size}" disabled>
      </div>

      <div class="input-group mb-3 col-sm-6">
        <span class="input-group-text" id="basic-addon1">Valor Total R$</span>
        <input type="text" class="form-control" th:value="${valorTotal}" disabled>
      </div>

      <div class="col-sm-4">
        <div class="input-group mb-3">
          <label class="input-group-text" for="formaPagamento">Forma de Pagamento</label>
          <select class="form-select" id="formaPagamento" required disabled>
            <option th:text="${pedido.formaPagamento.tipo}"></option>
          </select>
        </div>
      </div>

      <div th:if="${pedido.formaPagamento.tipo != 'Crédito'}" class="col-sm-4">
        <div class="input-group mb-3">
          <label class="input-group-text" for="valorPagamento">R$</label>
          <input class="form-control mask-valor" type="text" id="valorPagamento" name="valorPagamento">
        </div>
      </div>

      <div th:if="${pedido.formaPagamento.tipo == 'Crédito'}" class="col-sm-4">
        <div class="input-group mb-3">
          <label class="input-group-text" for="numeroCartao">Número Cartão</label>
          <input class="form-control mask-cartao" type="text" id="numeroCartao" name="numeroCartao">
        </div>
      </div>

      <button class="btn btn-outline-success col-sm-2" type="submit">
        <i class="bi bi-plus-square"></i>
        Adicionar
      </button>
      <button class="btn btn-outline-secondary col-sm-2" type="reset">
        <i class="bi bi-x-square"></i>
        Limpar Campos
      </button>

    </form>
  </div>

  <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
  <script type="text/javascript" src="/js/masks.js"></script>
  <script type="text/javascript" src="/js/checkbox.js"></script>
  <script type="text/javascript" src="/js/input.js"></script>
</body>

</html>