<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/icone.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>BiritaShop</title>
</head>

<body>
<div th:replace="fragments/barraNavegacao :: barraNavegacao"></div>

<div class="container content">
    <form th:action="@{/pedido/finalizar/{id}(id=${pedido.id})}" method="POST" th:object="${pedido}">
        <div class="row col-sm-6">
            <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="bi bi-person"></i>
            Cliente
          </span>
                <select class="form-select" name="cliente" disable>
                    <option th:value="${pedido.cliente.id}" th:text="${pedido.cliente.nomeCompleto}">
                    </option>
                </select>
            </div>
        </div>

        <h2 class="border-bottom">Produtos</h2>

        <table class="table">
            <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor Unitario</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${pedido.itens}">
                <th scope="row" th:text="${item.id}"></th>
                <td th:text="${item.produto.nome}"></td>
                <td th:text="${item.quantidade}"></td>
                <td th:text="${item.valorUnitario}"></td>
            </tr>
            <tr>
                <td class="text-end" colspan="3"><strong>Total Itens:</strong></td>
                <td th:text="${pedido.itens.size}"></td>
            </tr>
            </tbody>
        </table>

        <div class="col-sm-4">
            <div class="input-group mb-3">
                <label class="input-group-text" for="formaPagamento">Forma de Pagamento</label>
                <select class="form-select" id="formaPagamento" required disabled>
                    <option th:text="${pedido.formaPagamento.tipo}" th:value="${formaPagamento}"></option>
                </select>
            </div>
        </div>

        <div th:if="${pedido.formaPagamento.tipo != 'Crédito'}" class="col-sm-4">
            <div class="input-group mb-3">
                <label class="input-group-text" for="valorPagamento">R$</label>
                <input class="form-control mask-valor" type="text" id="valorPagamento" name="valorPagamento"
                       th:field="*{valorPagamento}" required>
            </div>
        </div>

        <div th:if="${pedido.formaPagamento.tipo == 'Crédito'}" class="col-sm-4">
            <div class="input-group mb-3">
                <label class="input-group-text" for="numeroCartao">Número Cartão</label>
                <input class="form-control mask-cartao" type="text" id="numeroCartao" name="numeroCartao"
                       th:field="*{numeroCartao}" required>
            </div>
        </div>

        <button class="btn btn-outline-success col-sm-2" type="submit">
            <i class="bi bi-plus-square"></i>
            Adicionar
        </button>

    </form>
</div>

<div th:replace="fragments/barraInformacao :: barraInformacao"></div>

<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/js/masks.js"></script>
<script type="text/javascript" src="/js/checkbox.js"></script>
<script type="text/javascript" src="/js/input.js"></script>
</body>

</html>