<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" th:href="@{/assets/icone.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons.css}" />
    <title>BiritaShop</title>
</head>

<body>
    <div th:replace="fragments/barraNavegacao :: barraNavegacao"></div>

    <div class="container mt-2">
        <h1>Clientes</h1>
        <form th:action="@{/pedido/listar}" method="GET" th:object="${cliente}">
            <div class="row">
                <div class="col-sm-6">
                    <select class="form-select" name="clienteId">
                        <option th:each="cliente : ${clientes}" th:value="${cliente.id}"
                            th:text="${cliente.nomeCompleto}" th:selected="${cliente.id} == ${clienteId}"></option>
                        </option>
                    </select>
                </div>
            </div>

            <button class="btn btn-outline-primary col-sm-2 mt-2 mb-2" type="submit">
                <i class="bi bi-search"></i>
                Listar Pedidos
            </button>

        </form>
        <h1 class="text-center">Pedidos</h1>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Forma Pagamento</th>
                    <th scope="col">Data</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pedido : ${pedidos}">
                    <th scope="row" th:text="${pedido.id}"></th>
                    <td th:text="${pedido.formaPagamento}"></td>
                    <td th:text="${#temporals.format(pedido.data, 'dd/MM/yyyy')}"></td>
                    <td class="text-center"><a th:href="@{editar/{id}(id=${pedido.id})}"
                            class="btn btn-outline-warning">
                            <i class="bi bi-pencil-square"></i>
                        </a></td>
                    <td class="text-center"><a th:href="@{remover/{id}(id=${pedido.id})}"
                            class="btn btn-outline-danger">
                            <i class="bi bi-trash"></i>
                        </a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>