.c-icone {
    font-size: 20px;
    color: white;
}

.fixed-size {
    width: 300px;
    height: 200px;
}

.card-img-top {
    width: auto;
    height: 300px;
}

.card:hover {
    cursor: pointer;
}

#carouselExampleCaptions .carousel-inner,
#carouselExampleCaptions .carousel-item {
    height: 90vh;
}

#carouselExampleCaptions img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* SideBar */

#sidebar {
    width: 280px;
}