.c-item {
    height: 440px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.c-icone {
    font-size: 20px;
    color: white;
}

.content {
    margin-top: 66px;
}

.content-banner {
    margin-top: 56px;
}