<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" th:href="@{/assets/icone.ico}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons.css}" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <title>BiritaShop</title>
</head>

<body>

  <div th:replace="fragments/barraNavegacao :: barraNavegacao"></div>

  <header>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active c-item" data-bs-interval="3000">
          <img th:src="@{/image/banner1.jpg}" class="d-block w-100 c-img" alt="banner1" />
          <div class="carousel-caption d-none d-md-block">
            <h5>Bebidas alcoólicas quentes</h5>
            <p>Uma ampla gama de tipos e variações.</p>
          </div>
        </div>
        <div class="carousel-item c-item" data-bs-interval="3000">
          <img th:src="@{/image/banner2.jpg}" class="d-block w-100 c-img" alt="banner2" />
          <div class="carousel-caption d-none d-md-block">
            <h5>Drinks</h5>
            <p>Venha dispertar sensações e desejos.</p>
          </div>
        </div>
        <div class="carousel-item c-item">
          <img th:src="@{/image/banner3.jpg}" class="d-block w-100 c-img" alt="banner3" />
          <div class="carousel-caption d-none d-md-block">
            <h5>Vinhos</h5>
            <p>Aprecisar o melhor que se pode encontrar.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>

  <div th:replace="fragments/barraInformacao :: barraInformacao"></div>

  <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>