<!DOCTYPE html>
<html lang="pt-br">

<div th:replace="fragments/head :: head"></div>

<body class="my-5">

    <div class="d-flex justify-content-center">
        <div th:if="${param.error}" class="alert alert-warning w-50 text-center" role="alert">
            Error ao realizar login!
        </div>
    </div>


    <div class="d-flex justify-content-center text-center">
        <form class="needs-validation" th:action="@{/login}" method="POST" novalidate>
            <div class="row">
                <div class="col">
                    <img class="mb-4" src="/assets/icone.ico" alt="" width="72" height="57">
                    <h1 class="h3 mb-3 fw-normal">Realizar Login</h1>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="username" name="username" placeholder="username"
                            required>
                        <label class="form-label" for="username">Username</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="password" id="password" name="password" placeholder="password"
                            required>
                        <label for="password">Password</label>
                    </div>
                </div>
            </div>

            <button class="btn btn-lg btn-primary w-100" type="submit">Login</button>
            <p class="mt-5 mb-3 text-muted">© 2023</p>
        </form>
    </div>

    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/validation.js"></script>
</body>

</html>