<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/icone.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>BiritaShop</title>
</head>

<body>
<div th:replace="fragments/barraNavegacao :: barraNavegacao"></div>

<div class="container my-5 pt-4">

    <h2 class="border-bottom">Produtos</h2>

    <table class="table overflow-scroll mb-5">
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Imagem</th>
            <th scope="col">Nome</th>
            <th scope="col">Marca</th>
            <th scope="col">Volume</th>
            <th scope="col">Tipo Embalagem</th>
            <th scope="col">Preço de Compra</th>
            <th scope="col">Preço de Venda</th>
            <th scope="col">Data Cadastro</th>
            <th scope="col">Opções</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="produto: ${produtos}">
            <th scope="row" th:text="${produto.id}"></th>
            <td>
                <img th:id="'Produto' + ${produto.id}" th:src="@{${produto.getFoto} ? ('data:image/jpeg;base64,' + ${produto.getFotoBase64()}) : @{/image/imagem.png}}" th:alt="'Foto de' + ${produto.nome}" width="30" height="30">
            </td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.marca}"></td>
            <td th:text="${produto.volume} + 'mL'"></td>
            <td th:text="${produto.tipoEmbalagem}"></td>
            <td th:text="${produto.precoCompra} + 'R$'"></td>
            <td th:text="${produto.precoVenda} + 'R$'"></td>
            <td th:text="${#temporals.format(produto.dataCadastro, 'dd/MM/yyyy')}"></td>
            <td>
                <a th:href="@{editar/{id}(id = ${produto.id})}" class="btn btn-outline-warning">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a th:href="@{remover/{id}(id = ${produto.id})}" class="btn btn-outline-danger">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/barraInformacao :: barraInformacao"></div>

<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/activePage.js"></script>
</body>

</html>