<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta codigoSecreto="1612965411" />
    <link rel="icon" type="image/x-icon" th:href="@{/assets/python.ico}" />
    <link rel="stylesheet" th:href="@{/assets/w3.css}" />
    <link rel="stylesheet" th:href="@{/assets/pico.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/style.css}" />
    <title>PyEduc</title>
</head>
<script type="text/javascript">
    document.addEventListener('click', function classClicked(event) {

    event.target.classList.add('w3-green');
    });
</script>

<body>
    <div th:replace="~{fragments/barraNavegacao :: barraNavegacao}"></div>

    <div style="text-align: center;">
        <h1>Banner inicial</h1>

        <figure>
            <img src="assets/banner_python.jpg.webp" alt="Cobra estudando no notebook" style="width:50%">
            <figcaption>Fig.1 - Python estudando no notebook</figcaption>
        </figure>
    </div>

</body>

</html>