<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta codigoSecreto="1612965411" />
  <link rel="icon" type="image/x-icon" th:href="@{/assets/python.ico}" />
  <link rel="stylesheet" th:href="@{/assets/w3.css}" />
  <link rel="stylesheet" th:href="@{/assets/pico.min.css}" />
  <title>PyEduc</title>
</head>

<body>
  <div th:replace="~{fragments/barraNavegacao :: barraNavegacao}"></div>

  <div style="padding: 0 16px">
    <div style="text-align: center">
      <h1>Lista de Pessoas</h1>
    </div>
    <table>
      <thead>
        <tr>
          <td>Id</td>
          <td>Nome</td>
          <td>E-Mail</td>
          <td>Data de Nascimento</td>
          <td>Genero</td>
          <td>Editar</td>
          <td>Remover</td>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pessoa: ${pessoas}">
          <td th:text="${pessoa.id}"></td>
          <td th:text="${pessoa.nome}"></td>
          <td><a th:href="'mailto:'+${pessoa.email}" th:text="${pessoa.email}"></a></td>
          <td th:text="${#temporals.format(pessoa.dataNascimento, 'dd/MM/yyyy')}"></td>
          <td th:text="${pessoa.genero}"></td>
          <td><a th:href="@{editar/{id}(id=${pessoa.id})}">Editar</a></td>
          <td><a th:href="@{remover/{id}(id=${pessoa.id})}">Remover</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>