<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSecreto="1612965411">
    <link rel="icon" type="image/x-icon" href="/assets/python.ico">
    <link rel="stylesheet" href="/assets/w3.css">
    <link rel="stylesheet" href="/assets/pico.mim.css">
    <title>PyEduc</title>
</head>

<body>
    <div th:replace="~{/fragments/barraNavegacao :: barraNavegacao}"></div>

    <h1>Esse site é meu primeiro projeto de Programação WEB</h1>

</body>

</html>