<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" th:href="@{/assets/icone.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>BiritaShop</title>
</head>

<body>
    
    <div th:replace="fragments/nav :: nav"></div>

    <div class="container-fluid pt-4 d-flex justify-content-center">
        <form class="needs-validation" th:action="@{/cliente/adicionar}" th:object="${cliente}" method="POST"
            novalidate>
            <h2 class="border-bottom">Adicionar Novo Cliente</h2>
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="username" name="username" placeholder="username"
                            required>
                        <label for="username">Username*</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input class="form-control" type="password" id="password" name="password" placeholder="password"
                            required>
                        <label for="password">Password*</label>
                    </div>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="nomeCompleto" name="nomeCompleto"
                            placeholder="nomeCompleto" required>
                        <label for="nomeCompleto">Nome Completo*</label>
                    </div>
                </div>
            </div>

            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating mb-3">
                        <input class="form-control mask-email" type="email" id="email" name="email" placeholder="email"
                            required>
                        <label for="email">E-mail*</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input class="form-control mask-telefone" type="text" id="telefone" name="telefone"
                            placeholder="telefone" required>
                        <label for="telefone">Telefone*</label>
                    </div>
                </div>
            </div>

            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating mb-3">
                        <input class="form-control mask-cep" type="text" id="cep" name="CEP" placeholder="CEP" required>
                        <label for="cep">CEP*</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input class="form-control" type="text" id="cidade" name="cidade" placeholder="cidade" required>
                        <label for="cidade">Cidade*</label>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <legend class="col-form-label col-form-label-lg py-0">Selecionar o Gênero*</legend>
                <div class="col-md">
                    <div class="form-check" th:each="genero : ${generos}">
                        <input class="form-check-input" type="radio" name="genero" th:id="${genero.valor}"
                            th:value="${genero}" required>
                        <label class="form-check-label" th:for="${genero.valor}" th:text="${genero.valor}"></label>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <legend class="col-form-label col-form-label-lg py-0">Selecionar as Regras*</legend>
                <div class="col-md">
                    <div class="form-check" th:each="role : ${roles}">
                        <input class="form-check-input checkbox child-checkbox" type="checkbox" id="roles" name="roles"
                            th:value="${role.id}" required>
                        <label class="form-check-label" th:for="${role.id}" th:text="${role.nome}"></label>
                    </div>
                </div>
            </div>

            <div class="row g-2">
                <button class="btn btn-success" type="submit">
                    <i class="bi bi-plus-square"></i>
                    Adicionar
                </button>
                <button class="btn btn-outline-secondary" type="reset">
                    <i class="bi bi-x-square"></i>
                    Limpar Campos
                </button>
            </div>

            <p>*Campos Obrigatórios</p>
        </form>
    </div>

    <div th:replace="fragments/barraInformacao :: barraInformacao"></div>

    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/js/checkbox.js"></script>
    <script type="text/javascript" src="/js/masks.js"></script>
    <script type="text/javascript" src="/js/validation.js"></script>
    <script type="text/javascript" src="/js/activePage.js"></script>
</body>

</html>