<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" th:href="@{/assets/icone.ico}" />
  <link rel="stylesheet" th:href="@{/assets/w3.css}" />
  <link rel="stylesheet" th:href="@{/assets/pico.min.css}" />
  <title>PyEduc</title>
</head>

<body>
  <div class="w3-bar w3-blue w3-xlarge">
    <a href="/cliente/listarClientes" class="w3-bar-item w3-button w3-mobile w3-red">Listar Clientes</a>
  </div>

  <div style="padding: 0 16px">
    <div style="text-align: center">
      <h1>Lista de Pessoas</h1>
    </div>
    <table>
      <thead>
        <tr>
          <td>Id</td>
          <td>Nome Completo</td>
          <td>Telefone</td>
          <td>Cidade</td>
          <td>CEP</td>
          <td>Genero</td>
          <td>Editar</td>
          <td>Remover</td>
        </tr>
      </thead>
      <tbody>
        <tr th:each="cliente: ${clientes}">
          <td th:text="${cliente.id}"></td>
          <td th:text="${cliente.nomeCompleto}"></td>
          <td th:text="${cliente.telefone}"></td>
          <td th:text="${cliente.cidade}"></td>
          <td th:text="${cliente.CEP}"></td>
          <td th:text="${cliente.genero}"></td>
          <td><a th:href="@{editar/{id}(id=${pessoa.id})}">Editar</a></td>
          <td><a th:href="@{remover/{id}(id=${pessoa.id})}">Remover</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>