<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/icone.ico">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>BiritaShop</title>
</head>

<body>

    <div th:replace="fragments/barraNavegacao :: barraNavegacao"></div>

    <div class="container my-5 pt-4">
        <header>
            <p><a href="mailto:tecinf.rafaelcavalcante@gmail.com?subject='Enviar e-mail para desenvolvedor'"
                    class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover icon-link icon-link-hover display-4"
                    style="--bs-link-hover-color-rgb: 25, 135, 84;">Enviar
                    E-mail
                </a>
            </p>
        </header>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>