<footer class="bg-dark mt-auto" th:fragment="barraInformacao">
    <div class="container-fluid d-flex flex-wrap justify-content-between align-items-center py-2">
        <div class="col-md-4 mx-auto">
            <a class="mb-3 me-2 mb-md-0 text-decoration-none lh-1" href="/">
                <img th:src="@{/assets/icone.ico}" width="30" height="30">
            </a>
            <span class="mb-3 mb-md-0 text-white">Copyright © 2023</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled mx-auto">
            <li class="ms-3">
                <a class="text-muted" href="#twitter">
                    <i class="bi bi-twitter c-icone"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="#instagram">
                    <i class="bi bi-instagram c-icone"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="#facebook">
                    <i class="bi bi-facebook c-icone"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>