<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="barraNavegacao">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/assets/icone.ico" width="30" height="30" class="d-inline-block align-top" alt="">
            BiritaShop
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div th:if="${#authorization.expression('isAuthenticated()')}">
				<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
					<ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/cliente" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cliente
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/cliente/listar">listar</a>
                        <a class="dropdown-item" href="/cliente/adicionar">Adicionar</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/produto" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Produto
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/produto/listar">listar</a>
                        <a class="dropdown-item" href="/produto/adicionar">Adicionar</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
				</div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/dependente" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dependente
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/dependente/listar">listar</a>
                        <a class="dropdown-item" href="/dependente/adicionar">Adicionar</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/pedido" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pedido
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/pedido/listar">listar</a>
                        <a class="dropdown-item" href="/pedido/adicionar">Adicionar</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/carrinho" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Carrinho
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/carrinho/listar">listar</a>
                        <a class="dropdown-item" href="/carrinho/adicionar">Adicionar</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
            <ul th:if="${#authorization.expression('isAuthenticated()')}" class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/conta" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Conta
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/cliente/informacoes">Informacoes</a>
                        <a class="dropdown-item" href="/logout">Sair</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
            </div>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/public/sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/public/contato">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>