<div th:fragment="barraPaginacao">
    <nav aria-label="Navegação de página exemplo">
        <ul class="pagination justify-content-center">
            <li th:classappend="${produtos.first} ? disabled : ''" class="page-item">
                <a th:href="@{/(page = ${produtos.number - 1})}" class="page-link">Anterior</a>
            </li>
            <li class="page-item active">
                <a th:href="@{/(page = ${produtos.number})}" th:text="${produtos.number}" class="page-link"></a>
            </li>
            <li th:classappend="${produtos.last} ? disabled : ''" class="page-item">
                <a th:href="@{/(page = ${produtos.number + 1})}" class="page-link">Próximo</a>
            </li>
        </ul>
    </nav>
</div>