<div th:fragment="barraPaginacao">
    <nav aria-label="Navegação de página exemplo">
        <ul class="pagination justify-content-center">
            <li th:classappend="${produtos.first} ? disabled : ''" class="page-item">
                <a class="page-link" th:href="@{/(page = ${produtos.number - 1}, sort='nome,asc', size=12)}">
                    <i class="bi bi-caret-left-fill"></i>
                </a>
            </li>
            <li th:if="${produtos.number - 2 >= 0}" class="page-item">
                <a class="page-link" th:text="${produtos.number - 1}"
                    th:href="@{/(page = ${produtos.number - 2}, sort='nome,asc', size=12)}"></a>
            </li>
            <li th:if="${produtos.number - 1 >= 0}" class="page-item">
                <a class="page-link" th:text="${produtos.number}"
                    th:href="@{/(page = ${produtos.number - 1}, sort='nome,asc', size=12)}"></a>
            </li>
            <li class="page-item active">
                <a class="page-link" th:text="${produtos.number + 1}"
                    th:href="@{/(page = ${produtos.number}, sort='nome,asc', size=12)}"></a>
            </li>
            <li th:if="${produtos.number + 1 < produtos.totalPages}" class="page-item">
                <a class="page-link" th:text="${produtos.number + 2}"
                    th:href="@{/(page = ${produtos.number + 1}, sort='nome,asc', size=12)}"></a>
            </li>
            <li th:if="${produtos.number + 2 < produtos.totalPages}" class="page-item">
                <a class="page-link" th:text="${produtos.number + 3}"
                    th:href="@{/(page = ${produtos.number + 2}, sort='nome,asc', size=12)}"></a>
            </li>
            <li th:classappend="${produtos.last} ? disabled : ''" class="page-item">
                <a class="page-link" th:href="@{/(page = ${produtos.number + 1}, sort='nome,asc', size=12)}">
                    <i class="bi bi-caret-right-fill"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>