<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSecreto="1612965411">
    <link rel="icon" type="image/x-icon" href="/assets/python.ico">
    <link rel="stylesheet" href="/assets/w3.css">
    <link rel="stylesheet" href="/assets/pico.mim.css">
    <title>PyEduc</title>
</head>

<body>
    <div th:replace="~{/fragments/barraNavegacao :: barraNavegacao}"></div>

    <div style="padding: 0 20px 0 20px;">
        <h1>Catalogo de noticias</h1>

        <h2>Veja as noticias no MSN Brasil</h2>
        <a href="https://www.msn.com/pt-br/noticias/newsbrazil" target="_blank">MSN Brasil Acessar</a>

        <h2>Veja as noticias no UOL Notícias</h2>
        <a href="https://noticias.uol.com.br/" target="_blank">UOL noticias Acessar</a>
    </div>
</body>

</html>