<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" th:href="@{/assets/icone.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>BiritaShop</title>
</head>

<body>
    <div th:replace="fragments/barraNavegacao :: barraNavegacao"></div>

    <div class="container content">
        <h1>Clientes</h1>
        <form th:action="@{/dependente/editar/{id}(id=${dependente.id})}" method="POST" th:object="${dependente}">
            <div class="row">
                <div class="col-sm-6">
                    <select class="form-select" name="cliente">
                        <option th:each="cliente : ${clientes}" th:value="${cliente.id}"
                            th:text="${cliente.nomeCompleto}" th:selected="${cliente.id} == ${dependente.cliente.id}">
                        </option>
                    </select>
                </div>
            </div>
            <h1>Editar Dependente</h1>
            <div class="row">
                <div class="col-sm-6">
                    <label for="nomeCompleto">Nome Completo*</label>
                    <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto"
                        placeholder="Nome Completo" th:field="*{nomeCompleto}" required>
                </div>
                <div class="col-sm-6">
                    <label for="dataNascimento">Data Nascimento*</label>
                    <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" 
                    th:field="*{dataNascimento}" required>
                </div>
            </div>
            <div class="row">
                <legend class="col-form-label pt-0">Informe o Gênero*</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="genero" id="masculino" value="Masculino"
                            th:field="*{genero}">
                        <label class="form-check-label" for="masculino">
                            Masculino
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="genero" id="feminino" value="Feminino"
                            th:field="*{genero}">
                        <label class="form-check-label" for="feminino">
                            Feminino
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="genero" id="naoInformado"
                            value="Não Informado" th:field="*{genero}">
                        <label class="form-check-label" for="naoInformado">
                            Não Informado
                        </label>
                    </div>
                </div>
            </div>

            <button class="btn btn-outline-warning col-sm-2" type="submit">
                <i class="bi bi-pencil-square"></i>
                Editar
            </button>

            <p>*Campos Obrigatorios</p>
        </form>
    </div>

    <div th:replace="fragments/barraInformacao :: barraInformacao"></div>

    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>