<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" th:href="@{/assets/icone.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>BiritaShop</title>
</head>

<body>
    <div th:replace="fragments/barraNavegacao :: barraNavegacao"></div>

    <div class="container-fluid my-5 pt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <label class="input-group-text" for="search">
                        <i class="bi bi-person"></i>
                        Cliente
                    </label>
                    <select class="form-select form-select-lg" onchange="buscar(this, 'dependente')">
                        <option selected disabled>Selecionar Cliente</option>
                        <option th:each="cliente : ${clientes}" th:value="${cliente.id}"
                            th:text="${cliente.nomeCompleto}" th:selected="${cliente.id} == ${clienteId}"></option>
                    </select>
                </div>
            </div>
        </div>

        <h2 class="border-bottom">Dependentes</h2>
        <table class="table overflow-scroll mb-5">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Data Nascimento</th>
                    <th scope="col">Gênero</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dependente : ${dependentes}">
                    <th scope="row" th:text="${dependente.id}"></th>
                    <td th:text="${dependente.nomeCompleto}"></td>
                    <td th:text="${#temporals.format(dependente.dataNascimento, 'dd/MM/yyyy')}"></td>
                    <td th:text="${dependente.genero}"></td>
                    <td>
                        <a th:href="@{/dependente/editar/{id}(id = ${dependente.id})}" class="btn btn-outline-warning">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a th:href="@{/dependente/remover/{id}(id = ${dependente.id})}" class="btn btn-outline-danger">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/barraInformacao :: barraInformacao"></div>

    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <script type="text/javascript" src="/js/activePage.js"></script>
</body>

</html>