<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/icone.ico}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <title>BiritaShop</title>
</head>

<body>
<div th:replace="fragments/barraNavegacao :: barraNavegacao"></div>

<div class="container">
    <form th:action="@{/dependente/listar}" method="GET" th:object="${cliente}">
        <h1>Lista de Clientes</h1>
        <div class="row">
            <select class="form-select" name="clienteId">
                <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nomeCompleto}"
                        th:selected="${cliente.id} == ${clienteId}">
                </option>
            </select>
        </div>
        <div class="row mt-1">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </form>

    <h1 class="text-center">Dependentes</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID
            </th>
            <th scope="col">Nome Completo
            </th>
            <th scope="col">Data Nascimento
            </th>
            <th scope="col">Genero
            </th>
            <th scope="col">Editar
            </th>
            <th scope="col">Remover
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dependente : ${dependentes}">
            <th scope="row" th:text="${dependente.id}">
            </th>
            <td th:text="${dependente.nomeCompleto}"></td>
            <td th:text="${#temporals.format(dependente.dataNascimento, 'dd/MM/yyyy')}"></td>
            <td th:text="${dependente.genero}"></td>
            <td><a th:href="@{editar/{id}(id=${dependente.id})}">Editar</a></td>
            <td><a th:href="@{remover/{id}(id=${dependente.id})}">Remover</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>